@keyframes slide {
    0%, 22%, 100% {
        transform: translateY(0);
    }

    25%, 47% {
        transform: translateY(-50vh);
    }

    50%, 72% {
        transform: translateY(-100vh);
    }

    75%, 97% {
        transform: translateY(-150vh);
    }
}

body {
    font-family: sans-serif;
    color: white;
    background: #1a1818;
    max-width: 1024px;
    margin: auto;
}

#slide-externo {
    width: 90%;
    height: 50vh;
    border: 10px solid white;
    box-shadow: 0 0 10px black;
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}

#slide-interno {
    width: 100%;
    animation: slide 15s infinite;
    will-change: transform;
}

#slide-interno img {
    display: block;
    height: 50vh;
    width: 100%;
    object-fit: cover;
}